<% include _layout/header%>
   <div style=" background: url(../../images/pro.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
    <center>
    <h2>Author name: <%=authname%></h2><br><br>
    <h2>Blog title: <%=blogtitle%></h2><br><br>
    <h2>Blog description: <%=blogdesc%></h2><br><br>
    <h2>Blog Photo:<%if(blogurl==null){%>
      <%}else{%>
        <img src="<%=blogurl%>" style="height: 400px;width: 400px;">
        <%}%>
        <br><br></h2> 
       </center> </div>

  <% include _layout/footer%>