<% include _layout/header%>
   <div style=" background: url(../../images/pro.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
    <center>
    <h1>Author name: <%=authname%></h1><br><br>
    <h1>Blog title: <%=blogtitle%></h1><br><br>
    <h1>Blog description: <%=blogdesc%></h1><br><br>
      
       </center> </div>

  <% include _layout/footer%>