	<div style=" background: url(../../images/pro.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
                 <br><br><center><h1>Create An Account</h1></center><br><br>
                  <header style="margin:2px auto;">
                   <div style="padding:10px;margin-bottom:6%;margin:2px auto;height:1250px;width:700px;">
                    <form id ="regform" method="post" action="/signup">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Fullname:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="fullname" id="name"  placeholder="Enter your Name" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Username:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="name"  placeholder="Enter your Username" />
								</div>
							</div>
						</div>
						
				<label class="file-upload-container" for="file-uploadx">
                    <input id="file-uploadx" type="file" style="display:none;">
                    Select an Image
                  </label>

				    <div class="wrap-input100 " style="margin-top:40px;">
					<span class="label-input100">Url for your image</span>
					<input class="input100" type="text" name="blogurl" id="newtt" placeholder="Please wait for Image Url to autofill" data-validate = " Url is required" readonly>
				    </div>
                    <span id="imgx">
                        
                    </span>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" />
								</div>
							</div>
						</div>

			
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" value="password"/>
								</div>
							</div>
						</div>
							<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Confirm Password:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password2" id="password"  placeholder="Enter your Password" value="password2"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
                           <center> <button type="submit" class="btn btn-lg btn-success">Submit</button></center>
						</div>
						
						
                </form>
</div>
        </header></div>